{% extends "booking/base_generic.html" %}
{% block user_name %}
<span class="text-white"> Logged in as: {{ user }} </span>
{% endblock %}
{% block content %}


<!-- Button to add array user-->
<div class="row"> 
<div class="col-md-10 text-center">

    <!-- Table showing tests: ID, PID, Patient Name -->
    <h2> </h2>
    <h3> Array Bookings </h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date booked</th>
            </tr>
        </thead>
        <tbody>
            {% for array in booked_arrays %}
            <tr>
                <td>{{ array.patient }}</td>
                <td>{{ array.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Buttons 'View Patients' & 'Patient list' -->
<div class="col-md-2">
    <a href="{% url 'add_patient' %}" class="btn btn-success mt-3">Add Patient</a>
    <p></p>
    <a href="{% url 'patient_list' %}" class="btn btn-outline-secondary">Patient list</a>
    <p></p>
</div>
</div>
{% endblock %}